# EDA

In [2]:
#en primer instancia importamos las librerias necesarias para poder trabajar con los datos, en este caso utilizamos pandas para poder leer el archivo csv 
# y poder realizar diferentes operaciones al dataset
import pandas as pd
import numpy as np

##### • Leemos el primer archivo para realizar la respectiva limpieza

In [3]:
#ruta del archivo CSV
EndInvFINAL12312016 = '..\Data\EndInvFINAL12312016.csv'

# Leer el archivo CSV 
df_EndInvFINAL12312016 = pd.read_csv(EndInvFINAL12312016)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\dssua\AppData\Local\Temp\ipykernel_4112\2441676414.py:2: SyntaxWarning: invalid escape sequence '\D'
  EndInvFINAL12312016 = '..\Data\EndInvFINAL12312016.csv'

##### • realizamos la respectiva limpieza

In [4]:
# Eliminamos filas con al menos un valor vacío
df_EndInvFINAL12312016 = df_EndInvFINAL12312016.dropna()

##### • transformacion de datos

In [5]:
#calculamos el precio total por disponibilidad y redondeamos a 2 decimales
df_EndInvFINAL12312016["Precio Total"] = df_EndInvFINAL12312016["onHand"] * df_EndInvFINAL12312016["Price"]
df_EndInvFINAL12312016["Precio Total"] = df_EndInvFINAL12312016["Precio Total"].round(2)

##### • convertimos el tipo de dato correcto de las diferentes columnas

In [6]:
#convertimos la columna 'endDate' a tipo fecha
df_EndInvFINAL12312016['endDate'] = pd.to_datetime(df_EndInvFINAL12312016['endDate'])

#generamos un arreglo con las columnas que queremos convertir a tipo string
columnas_strings = ['InventoryId', 'City', 'Description', 'Size']
df_EndInvFINAL12312016[columnas_strings] = df_EndInvFINAL12312016[columnas_strings].astype('string')

#generamos un arreglo con las columnas que queremos convertir a tipo entero
columnas_enteras = ['Store', 'Brand', 'onHand', 'Price']
df_EndInvFINAL12312016[columnas_enteras] = df_EndInvFINAL12312016[columnas_enteras].astype('int64')

In [7]:
#mostramos la informacion del dataframe para verificar que los cambios se hayan realizado correctamente
df_EndInvFINAL12312016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223205 entries, 0 to 224488
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InventoryId   223205 non-null  string
 1   Store         223205 non-null  int64
 2   City          223205 non-null  string
 3   Brand         223205 non-null  int64
 4   Description   223205 non-null  string
 5   Size          223205 non-null  string
 6   onHand        223205 non-null  int64
 7   Price         223205 non-null  int64
 8   endDate       223205 non-null  datetime64[ns]
 9   Precio Total  223205 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), string(4)
memory usage: 18.7 MB

In [8]:
#ruta del segundo archivo CSV
InvoicePurchases12312016 = '..\Data\InvoicePurchases12312016.csv'

# leemos el archivo CSV y lo guardamos en un dataframe 
df_InvoicePurchases12312016 = pd.read_csv(InvoicePurchases12312016)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\dssua\AppData\Local\Temp\ipykernel_4112\1861268356.py:2: SyntaxWarning: invalid escape sequence '\D'
  InvoicePurchases12312016 = '..\Data\InvoicePurchases12312016.csv'

In [ ]:
# Reemplazar el valor 'none' por 'not approved' en la columna 'approval' para entender mejor esta categoria
df_InvoicePurchases12312016['Approval'] = df_InvoicePurchases12312016['Approval'].fillna('not approved')

In [18]:
#convertimos la columna 'endDate' a tipo fecha
columnas_fechas = ['InvoiceDate', 'PODate', 'PayDate']
df_InvoicePurchases12312016['InvoiceDate'] = pd.to_datetime(df_InvoicePurchases12312016['InvoiceDate'])
df_InvoicePurchases12312016['PODate'] = pd.to_datetime(df_InvoicePurchases12312016['PODate'])
df_InvoicePurchases12312016['PayDate'] = pd.to_datetime(df_InvoicePurchases12312016['PayDate'])


#generamos un arreglo con las columnas que queremos convertir a tipo string
columnas_strings = ['VendorName', 'Approval']
df_InvoicePurchases12312016[columnas_strings] = df_InvoicePurchases12312016[columnas_strings].astype('string')

#generamos un arreglo con las columnas que queremos convertir a tipo entero
columnas_enteras = ['VendorNumber', 'PONumber', 'Quantity']
df_InvoicePurchases12312016[columnas_enteras] = df_InvoicePurchases12312016[columnas_enteras].astype('int64')

#generamos un arreglo con las columnas que queremos convertir a tipo float
columnas_flotantes = ['Dollars', 'Freight']
df_InvoicePurchases12312016[columnas_flotantes] = df_InvoicePurchases12312016[columnas_flotantes].astype('float')

In [19]:
#mostramos la informacion del dataframe para verificar que los cambios se hayan realizado correctamente
df_InvoicePurchases12312016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   string
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      5543 non-null   string
dtypes: datetime64[ns](3), float64(2), int64(3), string(2)
memory usage: 433.2 KB