# EDA

In [ ]:
#en primer instancia importamos las librerias necesarias para poder trabajar con los datos, en este caso utilizamos pandas para poder leer el archivo csv 
# y poder realizar diferentes operaciones al dataset
import pandas as pd
import numpy as np

##### • Leemos el primer archivo para realizar la respectiva limpieza

In [ ]:
#ruta del archivo CSV
EndInvFINAL12312016 = '..\Data\EndInvFINAL12312016.csv'

# Leer el archivo CSV 
df_EndInvFINAL12312016 = pd.read_csv(EndInvFINAL12312016)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\dssua\AppData\Local\Temp\ipykernel_21664\2441676414.py:2: SyntaxWarning: invalid escape sequence '\D'
  EndInvFINAL12312016 = '..\Data\EndInvFINAL12312016.csv'

##### • realizamos la respectiva limpieza

In [ ]:
# Eliminamos filas con al menos un valor vacío
df_EndInvFINAL12312016 = df_EndInvFINAL12312016.dropna()

##### • transformacion de datos

In [ ]:
#calculamos el precio total por disponibilidad y redondeamos a 2 decimales
df_EndInvFINAL12312016["Precio Total"] = df_EndInvFINAL12312016["onHand"] * df_EndInvFINAL12312016["Price"]
df_EndInvFINAL12312016["Precio Total"] = df_EndInvFINAL12312016["Precio Total"].round(2)

##### • convertimos el tipo de dato correcto de las diferentes columnas

In [ ]:
#convertimos la columna 'endDate' a tipo fecha
df_EndInvFINAL12312016['endDate'] = pd.to_datetime(df_EndInvFINAL12312016['endDate'])

#generamos un arreglo con las columnas que queremos convertir a tipo string
columnas_strings = ['InventoryId', 'City', 'Description', 'Size']
df_EndInvFINAL12312016[columnas_strings] = df_EndInvFINAL12312016[columnas_strings].astype('string')

#generamos un arreglo con las columnas que queremos convertir a tipo entero
columnas_enteras = ['Store', 'Brand', 'onHand', 'Price']
df_EndInvFINAL12312016[columnas_enteras] = df_EndInvFINAL12312016[columnas_enteras].astype('int64')

In [ ]:
#mostramos la informacion del dataframe para verificar que los cambios se hayan realizado correctamente
df_EndInvFINAL12312016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223205 entries, 0 to 224488
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   InventoryId   223205 non-null  string
 1   Store         223205 non-null  int64
 2   City          223205 non-null  string
 3   Brand         223205 non-null  int64
 4   Description   223205 non-null  string
 5   Size          223205 non-null  string
 6   onHand        223205 non-null  int64
 7   Price         223205 non-null  int64
 8   endDate       223205 non-null  datetime64[ns]
 9   Precio Total  223205 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), string(4)
memory usage: 18.7 MB